<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SystemMessageMapper">
    
    <resultMap type="SystemMessage" id="SystemMessageResult">
        <result property="messageId"    column="message_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="messageType"    column="message_type"    />
        <result property="icon"    column="icon"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSystemMessageVo">
        select message_id, title, content, message_type, icon, status, create_by, create_time, update_by, update_time, remark from system_message
    </sql>

    <select id="selectSystemMessageList" parameterType="SystemMessage" resultMap="SystemMessageResult">
        <include refid="selectSystemMessageVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="messageType != null  and messageType != ''"> and message_type = #{messageType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectSystemMessageByMessageId" parameterType="Long" resultMap="SystemMessageResult">
        <include refid="selectSystemMessageVo"/>
        where message_id = #{messageId}
    </select>
    
    <select id="selectLatestSystemMessages" parameterType="int" resultMap="SystemMessageResult">
        <include refid="selectSystemMessageVo"/>
        where status = '0'
        order by create_time desc
        limit #{limit}
    </select>
        
    <insert id="insertSystemMessage" parameterType="SystemMessage" useGeneratedKeys="true" keyProperty="messageId">
        insert into system_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="messageType != null">message_type,</if>
            <if test="icon != null">icon,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="messageType != null">#{messageType},</if>
            <if test="icon != null">#{icon},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSystemMessage" parameterType="SystemMessage">
        update system_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="messageType != null">message_type = #{messageType},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <delete id="deleteSystemMessageByMessageId" parameterType="Long">
        delete from system_message where message_id = #{messageId}
    </delete>

    <delete id="deleteSystemMessageByMessageIds" parameterType="String">
        delete from system_message where message_id in 
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper> 