<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.attendance.mapper.AttendanceLocationMapper">
    
    <resultMap type="com.ruoyi.attendance.domain.AttendanceLocation" id="AttendanceLocationResult">
        <result property="id"            column="id"            />
        <result property="locationName"  column="location_name"  />
        <result property="longitude"     column="longitude"     />
        <result property="latitude"      column="latitude"      />
        <result property="radius"        column="radius"        />
        <result property="address"       column="address"       />
        <result property="status"        column="status"        />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"        column="remark"        />
    </resultMap>

    <sql id="selectAttendanceLocationVo">
        select id, location_name, longitude, latitude, radius, address, status, create_time, update_time, remark
        from attendance_location
    </sql>

    <select id="selectAttendanceLocationList" parameterType="com.ruoyi.attendance.domain.AttendanceLocation" resultMap="AttendanceLocationResult">
        <include refid="selectAttendanceLocationVo"/>
        <where>  
            <if test="locationName != null  and locationName != ''"> and location_name like concat('%', #{locationName}, '%')</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="radius != null "> and radius = #{radius}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAttendanceLocationById" parameterType="Integer" resultMap="AttendanceLocationResult">
        <include refid="selectAttendanceLocationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAttendanceLocation" parameterType="com.ruoyi.attendance.domain.AttendanceLocation" useGeneratedKeys="true" keyProperty="id">
        insert into attendance_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="locationName != null">location_name,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="radius != null">radius,</if>
            <if test="address != null">address,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="locationName != null">#{locationName},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="radius != null">#{radius},</if>
            <if test="address != null">#{address},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAttendanceLocation" parameterType="com.ruoyi.attendance.domain.AttendanceLocation">
        update attendance_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="locationName != null">location_name = #{locationName},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="radius != null">radius = #{radius},</if>
            <if test="address != null">address = #{address},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAttendanceLocationById" parameterType="Integer">
        delete from attendance_location where id = #{id}
    </delete>

    <delete id="deleteAttendanceLocationByIds" parameterType="String">
        delete from attendance_location where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 